<!--  INTERNATIONAL ORIGINAL HTML TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      body {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #a0a0a0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      table {
        border-collapse: separate;
        margin: 0;
      }
      img.header {
        background-color: white;
        margin: 0;
        position: fixed;
        padding-bottom: 20px;
      }
      .footer {
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 800px;
        z-index: 999;
        background-color: white;
      }
    </style>
  </head>
  <body bgcolor="#A0A0A0" vlink="blue" link="blue">
    <img
      class="header"
      src="/public/assets/header.png"
      alt="Header"
      width="800px"
    />
    <table
      width="800px"
      height="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="padding-top: 150px; background-color: white"
    >
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td
          align="top"
          width="800px"
          style="vertical-align: top; background: white; padding: 20px 0px"
        >
          <table
            width="100%"
            border="1"
            cellpadding="0"
            cellspacing="0"
            style="padding: 20px 20px"
          >
            <tr>
              <td>Reference No.</td>
              <td>12563</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>Sxxx Wxxx Sxxx Fxx</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>male</td>
            </tr>
            <tr>
              <td>Nationality</td>
              <td>Chinese</td>
            </tr>
            <tr>
              <td>Latest Salary:</td>
              <td>this is</td>
            </tr>
            <tr>
              <td>Expected Salary :</td>
              <td>$43,000 (negotiable)</td>
            </tr>
            <tr>
              <td>Notice Period</td>
              <td>1- month notice</td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 20px"
          >
            <tr>
              <td
                align="center"
                width="100%"
                style="
                  background: #56585a;
                  height: 30px;
                  color: white;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                <strong>Executive Summary</strong>
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 20px 20px"
          >
            <tr>
              <td style="text-align: justify; color: #464242">
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
                health, safety and environmental (HSE) compliance. This will
                include assessment and implementation of absent programs and the
                continued oversight and administration of existing HSE programs.
                Interface with all departments to ensure existing processes and
                special projects are in compliance with all Federal, State, and
                Local regulations. Implements and maintains an environmental
                health and safety program involving hazard identification
                evaluation and control, accident / injury prevention, hazardous
                material / waste management, emergency preparedness, fire / life
                safety, ergonomics, industrial hygiene, and environmental
                regulatory compliance.
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 20px"
          >
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #56585a; height: 30px; color: white"
              >
                <strong>Working Experience</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 20px; height: 50%">
                <strong>Bencher Group</strong>
              </td>
              <td align="right" style="padding: 10px 20px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>Qhsse Manager Sea & Australia</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 20px; text-align: justify; color: #464242"
              >
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
                health, safety and environmental (HSE) compliance. This will
                include assessment and implementation of absent programs and the
                continued oversight and administration of existing HSE programs.
                Interface with all departments to ensure existing processes and
                special projects are in compliance with all Federal, State, and
                Local regulations. Implements and maintains an environmental
                health and safety program involving hazard identification
                evaluation and control, accident / injury prevention, hazardous
                material / waste management, emergency preparedness, fire / life
                safety, ergonomics, industrial hygiene, and environmental
                regulatory compliance.
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 20px; height: 50%">
                <strong>Bencher Group</strong>
              </td>
              <td align="right" style="padding: 10px 20px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>Qhsse Manager Sea & Australia</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 20px; text-align: justify; color: #464242"
              >
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
                health, safety and environmental (HSE) compliance. This will
                include assessment and implementation of absent programs and the
                continued oversight and administration of existing HSE programs.
                Interface with all departments to ensure existing processes and
                special projects are in compliance with all Federal, State, and
                Local regulations. Implements and maintains an environmental
                health and safety program involving hazard identification
                evaluation and control, accident / injury prevention, hazardous
                material / waste management, emergency preparedness, fire / life
                safety, ergonomics, industrial hygiene, and environmental
                regulatory compliance.
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 20px; height: 50%">
                <strong>Bencher Group</strong>
              </td>
              <td align="right" style="padding: 10px 20px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>Qhsse Manager Sea & Australia</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 20px; text-align: justify; color: #464242"
              >
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
                health, safety and environmental (HSE) compliance. This will
                include assessment and implementation of absent programs and the
                continued oversight and administration of existing HSE programs.
                Interface with all departments to ensure existing processes and
                special projects are in compliance with all Federal, State, and
                Local regulations. Implements and maintains an environmental
                health and safety program involving hazard identification
                evaluation and control, accident / injury prevention, hazardous
                material / waste management, emergency preparedness, fire / life
                safety, ergonomics, industrial hygiene, and environmental
                regulatory compliance.
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 20px"
          >
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #56585a; height: 30px; color: white"
              >
                <strong>Projects</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" width="30%" style="padding: 10px 20px">
                <strong>LS Cable & System Ltd</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>Project HSSE Lead</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 20px; text-align: justify; color: #464242"
              >
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" width="30%" style="padding: 10px 20px">
                <strong>LS Cable & System Ltd</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>Project HSSE Lead</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 20px; text-align: justify; color: #464242"
              >
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" width="30%" style="padding: 10px 20px">
                <strong>LS Cable & System Ltd</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>Project HSSE Lead</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 20px; text-align: justify; color: #464242"
              >
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" width="30%" style="padding: 10px 20px">
                <strong>LS Cable & System Ltd</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>Project HSSE Lead</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 20px; text-align: justify; color: #464242"
              >
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 20px"
          >
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #56585a; height: 30px; color: white"
              >
                <strong>Education</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 0px 20px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>2007 – 2009</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 5px 20px; color: #464242">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 20px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>2007 – 2009</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px; color: #464242">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 20px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>2007 – 2009</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 20px; color: #464242">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 20px"
          >
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #56585a; height: 30px; color: white"
              >
                <strong>Professional Qualification</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" width="30%" style="padding: 10px 20px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 20px">
                <strong>2007</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 5px 20px">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 20px"
          >
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #56585a; height: 30px; color: white"
              >
                <strong>Skills</strong>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div style="margin-top: 10px" class="footer">
      <p
        style="
          padding: 0px 40px 10px;
          text-align: justify;
          font-size: 11px;
          border-bottom: 1px solid orangered;
        "
      >
        This candidate has given express authority to be solely represented by
         International. Written or verbal instructions to  International
        by the client to supply candidates will be deemed as acceptance by the
        client of  International’s Terms and Conditions.
      </p>
      <p
        style="padding: 0px 40px; color: #56585a; margin: 0px; font-size: 10px"
      >
        Suite 610, 6/F, Ocean Centre, 5 Canton Road, Tsim Sha Tsui, Kowloon,
        Hong Kong \ T +852 3180 4988
      </p>
      <p
        style="
          padding: 5px 40px;
          color: orangered;
          margin: 0px;
          font-size: 10px;
        "
      >
        www.-intl.com
      </p>
    </div>
  </body>
</html>
