<!--  STAFFING HTML TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      body {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #a0a0a0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      table {
        border-collapse: separate;
        margin: 0;
      }
      img.header {
        background-color: white;
        margin: 0;
        position: fixed;
      }
      .footer {
        margin: 0;
        bottom: 0;
        position: fixed;
        background-color: white;
        width: 800px;
      }
    </style>
  </head>
  <body bgcolor="#A0A0A0" vlink="blue" link="blue">
    <img
      class="header"
      src="/public/assets/staffing-header.png"
      alt="Header"
      width="800px" />
    <table
      width="800px"
      height="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="padding-top: 110px">
      <tr>
        <td
          align="top"
          width="800px"
          style="vertical-align: top; background: white; padding: 30px 0px">
          <div style="margin-top: 10px;"class='footer'>
          <p style="padding: 0px 30px 10px; text-align: justify;font-size: 11px; border-bottom: 1px solid rgb(66, 221, 52);">This candidate has given express authority to be solely represented by  International. Written or verbal instructions to  International by the client to supply candidates will be deemed as acceptance by the client of  International’s Terms and Conditions.</p>
          <p style="padding: 0px 30px;color: #4d4c4c;margin: 0px;font-size: smaller;"> Suite 610, 6/F, Ocean Centre, 5 Canton Road, Tsim Sha Tsui, Kowloon, Hong Kong \ T +852 3180 4988</p>
          <p style="padding: 2px 30px;color: rgb(66, 221, 52);margin: 0px;font-size: smaller;">www.-intl.com</p>
          </div>
          <table
            width="100%"
            border="0"
            cellpadding="1"
            cellspacing="1"
            style="padding: 30px 30px; color: rgb(50, 128, 192);">
            <tr>
              <td>Reference No.</td>
              <td>12563</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>Sxxx Wxxx Sxxx Fxx</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>male</td>
            </tr>
            <tr>
              <td>Nationality</td>
              <td>Chinese</td>
            </tr>
            <tr>
              <td>Latest Salary:</td>
              <td>this is</td>
            </tr>
            <tr>
              <td>Expected Salary :</td>
              <td>$43,000 (negotiable)</td>
            </tr>
            <tr>
              <td>Notice Period</td>
              <td>1- month notice</td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 30px">
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #4d4c4c; height: 30px; color: white">
                <strong>Working Experience</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 30px; height: 50%">
                <strong>Bencher Group</strong>
              </td>
              <td align="right" style="padding: 10px 30px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 30px">
                <strong>Qhsse Manager Sea & Australia</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 30px; text-align: justify; color: #464242">
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
                health, safety and environmental (HSE) compliance. This will
                include assessment and implementation of absent programs and the
                continued oversight and administration of existing HSE programs.
                Interface with all departments to ensure existing processes and
                special projects are in compliance with all Federal, State, and
                Local regulations. Implements and maintains an environmental
                health and safety program involving hazard identification
                evaluation and control, accident / injury prevention, hazardous
                material / waste management, emergency preparedness, fire / life
                safety, ergonomics, industrial hygiene, and environmental
                regulatory compliance.
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 30px; height: 50%">
                <strong>Bencher Group</strong>
              </td>
              <td align="right" style="padding: 10px 30px">
                <strong>Mar 2021 – Present</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 30px">
                <strong>Qhsse Manager Sea & Australia</strong>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                align="left"
                style="padding: 15px 30px; text-align: justify; color: #464242">
                Over 18 years of experience in construction industry involving
                oil and gas upstream / downstream sector (Greenfield, Brownfield
                Extension, Fabrication, Pre-Commissioning / Commissioning,
                Shutdown / Turnarounds and Daily Maintenance). Responsible for
                health, safety and environmental (HSE) compliance. This will
                include assessment and implementation of absent programs and the
                continued oversight and administration of existing HSE programs.
                Interface with all departments to ensure existing processes and
                special projects are in compliance with all Federal, State, and
                Local regulations. Implements and maintains an environmental
                health and safety program involving hazard identification
                evaluation and control, accident / injury prevention, hazardous
                material / waste management, emergency preparedness, fire / life
                safety, ergonomics, industrial hygiene, and environmental
                regulatory compliance.
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 30px">
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #4d4c4c; height: 30px; color: white">
                <strong>Education</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 0px 30px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 30px">
                <strong>2007 – 2009</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 5px 30px; color: #464242">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 30px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 30px">
                <strong>2007 – 2009</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 30px; color: #464242">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" style="padding: 10px 30px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 30px">
                <strong>2007 – 2009</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 0px 30px; color: #464242">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 30px">
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #4d4c4c; height: 30px; color: white">
                <strong>Professional Qualification</strong>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" width="30%" style="padding: 10px 30px">
                <strong>University of Portsmouth</strong>
              </td>
              <td align="right" style="padding: 5px 30px">
                <strong>2007</strong>
              </td>
            </tr>
            <tr>
              <td align="left" style="padding: 5px 30px">
                <strong>Bachelor of Arts (Hons) Business Administration</strong>
              </td>
            </tr>
          </table>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 30px">
            <tr>
              <td
                align="center"
                width="100%"
                style="background: #4d4c4c; height: 30px; color: white">
                <strong>Skills</strong>
              </td>
            </tr>
            <tr>
              <td style="padding: 0px 30px;">
                <ul>
                  <li>React</li>
                  <li>React</li>
                  <li>React</li>
                  <li>React</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
